<h1>Company</h1>
<br>
<br>
<br>


        <button type="button" class="btn btn-info">About</button>   
    
      <ul class="nav navbar-nav navbar-center">
        <li><a href="#">Acerca de nosotros</a></li>

       

<li><a href="#">Conocenos</a></li>
 <li><a href="#">Ofertas</a></li>
 <li><a href="#">Ubicación</a></li>     

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                aria-expanded="false">Dropdown <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
             
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>